<app-navbar></app-navbar>

<!-- <div class="container">
	<mat-form-field>
		<input matInput placeholder="Search by username" [matAutocomplete]="auto" [formControl]="searchUsername">
		<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
			(optionSelected)="setSelectedUser($event.option.value)">
			<ng-container>
				<mat-option *ngFor="let user of filteredUsers" [value]="user">
					<span>{{ user.username }}</span>
				</mat-option>
			</ng-container>
		</mat-autocomplete>
	</mat-form-field>
</div> -->
