.container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.container mat-card {
	min-width: 600px;
}

.container mat-list-option {
	font-weight: 500;
}

.search {
	padding-top: 30px;
	margin-left: 10px;
}

.flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 20px;
}

.flex-item {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: lightgray;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: lightgray;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: lightgray;
}
