.container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 800px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-family: arial;
}

.container-block {
	padding-top: 10%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	grid-auto-rows: minmax(50px, auto);
}

