.container {
	display: flex;
	justify-content: center;
	margin: 30px;
	min-width: 350px;
}

.container mat-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container mat-card .channels {
	height: 300px;
	width: 250;
	overflow-y: scroll;
	scrollbar-color: lightgrey darkgrey;
	scrollbar-width: thin;
}

.container mat-card .chats {
	margin-left: 40px;
	width: 600px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: lightgray;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: lightgray;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: lightgray;
}
