.container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.container mat-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	min-width: 600px;
}

.container mat-card-title {
	margin: 150px;
}

.container button {
	margin-bottom: 50px;
}
