<app-navbar></app-navbar>

<div class="container">
	<mat-card>
		<div style="display: flex; flex-direction: row;">
			<div>
				<div>
					<span style="display: flex; flex-direction: row; align-items: baseline;">
						<h2>My Channels</h2>
					</span>
					<button mat-button routerLink="/private/create-channel">Create new Channel</button>
					<button mat-button routerLink="/private/explore-channel">Explore more Channels</button>
				</div>

				<div *ngIf="(channels$ | async)?.items.length > 0" class="channels">
					<mat-selection-list [multiple]="false" (selectionChange)="onSelectChannel($event)">
						<mat-list-option *ngFor="let channel of (channels$ | async)?.items" [value]="channel">
							Name: {{ channel.name }} ID: {{ channel.id }}
							<mat-divider></mat-divider>
						</mat-list-option>
					</mat-selection-list>
					<mat-paginator
					[length]="(channels$ | async)?.meta?.totalItems"
					[pageIndex]="(channels$ | async)?.meta?.currentPage"
					[pageSize]="(channels$ | async)?.meta?.itemsPerPage"
					(page)="onPaginateChannels($event)"
					[pageSizeOptions]="[10, 25, 50]"
					></mat-paginator>
				</div>
			</div>

			<div class="chats">
				<app-chat-channel [chatChannel]="selectedChannel"></app-chat-channel>
			</div>
		</div>
	</mat-card>
</div>
