.container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.container mat-card mat-card-content form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container mat-card mat-card-content form mat-form-field {
	width: 100%;
}

.container mat-card mat-card-content form .button {
	display: flex;
	justify-content: flex-end;
}

.mat-radio-group {
	display: flex;
	justify-content: space-around;
}

.mat-radio-button {
	padding: 20px;
}

.firstbutton {
	margin-left: 50px;
}

.names {
	min-width: 50px;
}
