<app-navbar></app-navbar>

<div class="container">
	<div *ngIf="isFriend()">
		<mat-card>
			<div style="display: flex; flex-direction: row;">
				<div class="profile">
					<img *ngIf="avatar; else default" [src]="avatar" alt="avatar" style="width:90%">
					<ng-template #default>
						<img src="{{ currentUser.avatar }}" alt="default-avatar" style="width:90%">
					</ng-template>
					<mat-card-title>{{ currentUser.username }}</mat-card-title>
					<h3 *ngIf="requestStatus==2">{{ currentUser.status }}</h3>
					<p>42 login: {{ currentUser.login }}</p>
					<p>Total Wins: {{ currentUser.totalWins }}</p>
					<p>Total Loses: {{ currentUser.totalLoses }}</p>
					<p>Tadder Level: {{ currentUser.ladderLevel }}</p>

					<div style="display: flex; flex-direction: column;">
						<!-- friend request -->
						<button mat-button *ngIf="requestStatus==5;" (click)="addFriend()">
							Send friend request
						</button>
						<button mat-button *ngIf="requestStatus==0;" (click)="removeFriend()">
							Cancel friend request
						</button>
						<button mat-button *ngIf="requestStatus==1;" (click)="responseToRequest('accepted')">
							Accept friend request
						</button>
						<button mat-button *ngIf="requestStatus==1;" (click)="responseToRequest('declined')">
							Decline friend request
						</button>
						<button mat-button *ngIf="requestStatus==2;" (click)="removeFriend()">
							Remove friend
						</button>
						<button mat-button *ngIf="requestStatus==3;">
							Friend request declined
						</button>

						<!-- block user -->
						<button mat-button *ngIf="requestStatus!=4;" (click)="blockUser()">
							Block user
						</button>
						<button mat-button *ngIf="requestStatus==4;" (click)="unblockUser()">
							Unblock user
						</button>
					</div>
				</div>

				<div class="match-history">
					<h3>// TODO match history</h3>
				</div>
			</div>
		</mat-card>
	</div>

	<div *ngIf="!isFriend()">
		<h1>Opps! User not found!</h1>
	</div>
</div>
