<app-navbar></app-navbar>

<div *ngIf="(currentUser$ | async) as currentUser" class="container">
	<div *ngIf="requestStatus!=6">
		<mat-card>
			<div style="display: flex; flex-direction: row;">
				<div class="profile">
					<img *ngIf="avatar; else default" [src]="avatar" alt="avatar" style="width:90%">
					<ng-template #default>
						<img src="{{ currentUser.avatar }}" alt="default-avatar" style="width:90%">
					</ng-template>
					<mat-card-title>{{ currentUser.username }}</mat-card-title>
					<h2 *ngIf="requestStatus==3">{{ currentUser.status }}</h2>
					<p>42 login: {{ currentUser.login }}</p>
					<p>Total Wins: {{ currentUser.totalWins }}</p>
					<p>Total Loses: {{ currentUser.totalLoses }}</p>
					<p>Tadder Level: {{ currentUser.ladderLevel }}</p>

					<div style="display: flex; flex-direction: column;">
						<!-- send message -->
						<button mat-button (click)="createDirectChannel()">
							Send Message
						</button>

						<!-- friend request -->
						<button mat-button *ngIf="requestStatus==0" (click)="addFriend()">
							Send Friend Request
						</button>
						<button mat-button *ngIf="requestStatus==1;" (click)="removeFriend()">
							Cancel Friend Request
						</button>
						<div *ngIf="requestStatus==2">
							<button mat-button (click)="responseToRequest('accepted')">
								Accept Friend Request
							</button>
							<button mat-button (click)="responseToRequest('declined')">
								Decline Friend Request
							</button>
						</div>
						<button mat-button *ngIf="requestStatus==3;" (click)="removeFriend()">
							Remove Friend
						</button>
						<button mat-button *ngIf="requestStatus==4;">
							Friend Request Declined
						</button>

						<!-- block user -->
						<button mat-button *ngIf="requestStatus!=5 && requestStatus!=6;" (click)="blockUser()">
							Block User
						</button>
						<button mat-button *ngIf="requestStatus==5;" (click)="unblockUser()">
							Unblock User
						</button>
					</div>
				</div>

				<div class="match-history">
					<h3>// TODO match history</h3>
				</div>
			</div>
		</mat-card>
	</div>

	<div *ngIf="requestStatus==6;">
		<h1>Oops! User not found!</h1>
	</div>
</div>
