<app-navbar></app-navbar>

<div class="container">
	<div>
		<mat-card>
			<mat-card-title>Create Channel</mat-card-title>
			<mat-card-content>
				<form [formGroup]="form" (ngSubmit)="create()">

					<mat-form-field appearance="standard">
						<input matInput type="text" matInput placeholder="Name" formControlName="name">
						<mat-error *ngIf="name.touched && name.hasError('required')">Name is required</mat-error>
					</mat-form-field>

					<app-select-users-channel [users]="users.value" (addUser)="addUser(initUser($event))"
					(removeUser)="removeUser($event.id)"></app-select-users-channel>

					<mat-radio-group (change)="radioType($event)" class="radio">
						<mat-radio-button value="private" required>Private</mat-radio-button>
						<mat-radio-button value="public" required [checked]="radiocheck">Public</mat-radio-button>
					</mat-radio-group>

					<mat-divider></mat-divider>

					<p style="padding-top: 30px;">Password ?</p>
					<mat-radio-group (change)="radioPassword($event)" class="radio">
						<mat-radio-button value="yes" required>Yes</mat-radio-button>
						<mat-radio-button value="no" required [checked]="radiocheck">No</mat-radio-button>
					</mat-radio-group>

					<mat-form-field appearance="standard">
						<input matInput placeholder="Password" formControlName="password" placeholder="Password" />
					</mat-form-field>
					
					<mat-hint *ngIf="!form.valid"><small>Please fill out all needed information</small></mat-hint>

					<div class="button">
						<button mat-button type="submit" [disabled]="!form.valid">Create Channel</button>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>
