<app-navbar></app-navbar>

<div class="container">
	<div>
		<mat-card>
			<mat-card-title>User Settings</mat-card-title>
			<mat-card-content>
				<div style="padding-top: 30px;">
					<h3>Edit Username</h3>
					<form class="form" [formGroup]="settingForm" (ngSubmit)="updateUsername()">
						<mat-form-field appearance="standard">
							<input matInput placeholder="New Username" formControlName="username">
							<mat-error *ngIf="settingForm.controls.username.errors">
								{{ getErrorMessageUser() }}
							</mat-error>
						</mat-form-field>
						<button mat-button [disabled]="!settingForm.valid" type="submit">Confirm</button>
					</form>
				</div>

				<mat-divider></mat-divider>

				<div style="padding-top: 30px;">
					<h3>Edit Avatar</h3>
					<input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChange($event)">
					<button mat-button (click)="uploadAvatar()">
						Upload
					</button>
				</div>

				<mat-divider></mat-divider>

				<div style="padding-top: 30px;">
					<h3>Google Authenticator</h3>
					<mat-hint><small>Download and install Google Authenticator</small></mat-hint>
					<br>
					<br>
					<button style="width: 100%;" mat-button (click)="getQrCode()">
						{{ getAuthStatus() }}
					</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
