<app-navbar></app-navbar>

<style>
	div {text-align: center;}
</style>
<style type="text/css">
	span.red { color: #FF0000;font-size:25;}
	span.blue { color: #0000FF;font-size:25;} 
</style>

<div [hidden]="hideItem[0]">
	<button (click)="RandomGame()">
	find a random opponent
	</button>
	<div [hidden]="hideItem[2]">
		Waiting for opponent ... {{timeLeft}}
		<button (click)="Cancel()">
			cancel
		</button>
	</div>
</div>

<div [hidden]="!hideItem[0]">
		<canvas #myCanvas width="{{canvasWidth}}" height="{{canvasHeight}}" style="border: 1px solid black;"></canvas>
</div>

<div [hidden]="(!hideItem[0]) || (!hideItem[1])">
	<button (click)="Surrender()">surrender</button>
</div>

<div [hidden]="hideItem[1]">
	Game Result
</div>

<div [hidden]="hideScore[0]">
	<span class="red">(Red) {{userLogin}} {{Points[0]}}</span> : <span class="blue">{{Points[1]}} (Blue) {{opponentLogin[0]}}</span>
</div>

<div [hidden]="hideItem[1]">
	<button [hidden]="hideItem[1]" (click)="BackToMatch()">
		next
	</button>
</div>

