.container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.game {
	text-align: center;
}

.container mat-card mat-card-content form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container mat-card mat-card-content form mat-form-field {
	width: 100%;
	min-width: 300px;
}

.mat-radio-button {
	padding: 20px;
}

span.red {
	color: #FF0000;
	font-size: 25;
}

span.blue {
	color: #0000FF;
	font-size: 25;
}
