<app-navbar></app-navbar>

<div *ngIf="(user | async) as user" class="container">
	<mat-card>
		<div style="display: flex; flex-direction: row;">
			<div class="profile">
				<img *ngIf="avatar; else default" [src]="avatar" alt="avatar" style="width:90%">
				<ng-template #default>
					<img src="{{ user.avatar }}" alt="default-avatar" style="width:90%">
				</ng-template>
				<mat-card-title>{{ user.username }}</mat-card-title>
				<h3>{{ user.status }}</h3>
				<p>42 login: {{ user.login }}</p>
				<p>Total Wins: {{ user.totalWins }}</p>
				<p>Total Loses: {{ user.totalLoses }}</p>
				<p>Ladder Level: {{ user.ladderLevel }}</p>

				<!-- <div style="display: flex; flex-direction: column;"> -->
					<button mat-button routerLink="/private/profile-setting" routerLinkActive="active">
						Edit Profile
					</button>
					<button mat-button routerLink="/private/friend-setting" routerLinkActive="active">
						Edit Friends
					</button>
				<!-- </div> -->
			</div>

			<div class="match-history">
				<h3>// TODO match history</h3>
			</div>
		</div>
	</mat-card>
</div>
