<app-navbar></app-navbar>

<div class="container">
	<mat-card>
		<div style="display: flex; flex-direction: row;">
			<div class="profile">
				<img src="{{ user.avatar }}" alt="avatar" style="width:90%">
				<mat-card-title>{{ user.username }}</mat-card-title>
				<p>42 login: {{ user.login }}</p>
				<p>{{ user.status }}</p>
				<p>Total Wins: {{ user.totalWins }}</p>
				<p>Total Loses: {{ user.totalLoses }}</p>
				<p>Ladder Level: {{ user.ladderLevel }}</p>

				<button mat-button (click)="editProfile(user)">
					Edit Profile
				</button>
				<button mat-button (click)="editFriends(user)">
					Edit Friends
				</button>
			</div>


			<div class="match-history">
				<h3>// TODO match history</h3>
			</div>
		</div>
	</mat-card>
</div>
