<app-navbar></app-navbar>

<div *ngIf="(user | async) as user" class="container">
	<mat-card>
		<div>
			<div class="profile" style="margin-bottom: 20px;">
				<img *ngIf="avatar; else default" [src]="avatar" alt="avatar" style="width:200px">
				<ng-template #default>
					<img src="{{'https://cdn.intra.42.fr/users/' + user.login+ '.jpg'}}" alt="default-avatar" style="width:200px">
				</ng-template>
				<mat-card-title>{{ user.username }}</mat-card-title>
				<h3>{{ user.status }}</h3>

				<button mat-button routerLink="/private/profile-setting" routerLinkActive="active">
					Edit Profile
				</button>
				<button mat-button routerLink="/private/friend-setting" routerLinkActive="active">
					Edit Friends
				</button>
			</div>

			<mat-divider></mat-divider>

			<div>
				<div *ngIf="(matchHistory | async) as matchHistory; else nohistory" style="margin-top: 30px;">
					<h2>Match Stats</h2>
					<div *ngIf="matchHistory.inGameRoom !== -1" style="margin-bottom: 20px;">
						<h3>In Game</h3>
						<p>Current Game Room: {{ matchHistory.inGameRoom }}</p>
					</div>
					<p>Total Wins: {{ matchHistory.totalWins }}</p>
					<p>Total Loses: {{ matchHistory.totalLoses }}</p>
					<p>Ladder Lever: {{ matchHistory.ladderLevel }}</p>
					<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 30px;">
						<div>
							<h2>Wins</h2>
							<div *ngFor="let winMatch of matchHistory.winMatches">
								<br>
								<p>Game Room: {{ winMatch.roomId }}</p>
								<p>Winner: {{ winMatch.winnerLogin }} Points: {{ winMatch.winnerPoints }}</p>
								<p>Loser: {{ winMatch.loserLogin }} Points: {{ winMatch.loserPoints }}</p>
								<br>
								<mat-divider></mat-divider>
							</div>
						</div>
						<div>
							<h2>Losts</h2>
							<div *ngFor="let loseMatch of matchHistory.loseMatches">
								<br>
								<p>Game Room: {{ loseMatch.roomId }}</p>
								<p>Winner: {{ loseMatch.winnerLogin }} Points: {{ loseMatch.winnerPoints }}</p>
								<p>Loser: {{ loseMatch.loserLogin }} Points: {{ loseMatch.loserPoints }}</p>
								<br>
								<mat-divider></mat-divider>
							</div>
						</div>
					</div>
				</div>
				<ng-template #nohistory>
					<div style="margin-top: 30px; margin-bottom: 20px;">
						<h2>Match Stats</h2>
						<p>Total Wins: 0</p>
						<p>Total Loses: 0</p>
						<p>Ladder Level: 0</p>
						<p>No Match History</p>
					</div>
				</ng-template>
			</div>
		</div>
	</mat-card>
</div>
